<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="APP_ENV" value="testing" />
    </php>
</phpunit>
